.countdown-container {
  text-align: center;
  background: #850b70;
  padding: 20px;
  border-radius: 12px;
  width: 340px;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 15px 0;
  font-weight: bold;
}

.expired {
  color: crimson;
}

.date-picker {
  margin-top: 15px;
}

input[type="datetime-local"] {
  padding: 6px;
  margin-left: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

input[type="datetime-local"]:focus {
  border-color: purple;
}
