.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #9c169c;
  color: white;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.links a.active {
  border-bottom: 2px solid rgb(70, 70, 31);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

