.counter {
  text-align: center;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f3eff3, #c71ba2);
  color: white;
  padding: 40px;
  border-radius: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.counter h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.buttons button {
  margin: 8px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  color: #e02ba4;
  font-weight: bold;
  transition: all 0.3s ease;
}
.buttons button:hover {
  background: #e3e1e6;
  color: white;
  transform: scale(1.1);
}
.buttons button:active {
  transform: scale(1);
}






