.header {
  background-color: rgb(158, 218, 178);
  color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.nav a {
  color: rgb(124, 121, 121);
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav a:hover {
  color: #D4F1E3;
}