.quiz-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.question-box {
  margin-bottom: 20px;
}
.option {
  display: block;
  margin: 8px 0;
  text-align: left;
}
button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #5f094a;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}
button:hover {
  background-color: #0056B3;
}
.feedback {
  margin-top: 10px;
  font-weight: bold;
}
.scoreboard {
  margin-bottom: 20px;
  font-weight: 500;
}